---
import { SessionResult } from "@components/solid/Exercise/SessionResult";
import Layout from "@layouts/Layout.astro";
import { actions } from "astro:actions";
import { fetchAllGrammarPoints } from "grammar-sdk";
import { contextFromAstro } from "~/libs/context";

const sessionResult = Astro.params.sessionId
  ? await Astro.callAction(actions.sessionResult, {
      sessionId: Astro.params.sessionId,
    })
  : undefined;
const grammar = await fetchAllGrammarPoints(contextFromAstro(Astro));
---

<Layout title="Review results">
  {
    sessionResult?.data ? (
      <SessionResult sessionResult={sessionResult.data} grammar={grammar} />
    ) : (
      <div>
        No session result found, probably it hasn't been calculated yet. Please
        reload the page.
      </div>
    )
  }
</Layout>
