---
import { ForgotPasswordForm } from "@components/solid/ForgotPassword";
import Layout from "@layouts/Layout.astro";
import { actions } from "astro:actions";
import { Alert, AlertDescription } from "packages/ui/alert";

const result = Astro.getActionResult(actions.resetPassword);


if (Astro.locals.user) {
  console.log("User is already logged in, redirecting to dashboard");
  return Astro.redirect("/dashboard");
}
---

<Layout title="Login">
  <div class="grid gap-6 mx-auto w-fit">
    <ForgotPasswordForm
      errorMessage={result?.error?.message}
      transition:persist
    >
      {
        result && !result.error && (
          <Alert variant="success">
            <AlertDescription>
              If an account with that email exists, you will receive an email
              with instructions to reset your password.
            </AlertDescription>
          </Alert>
        )
      }</ForgotPasswordForm
    >
  </div>
</Layout>
