---
import Layout from "@layouts/Layout.astro";

import DashboardCell from "@components/DashboardCell.astro";
import { WeekSchedule } from "@components/solid/dashboard/WeekSchedule";
import { actions } from "astro:actions";
import { Card, CardContent, CardHeader, CardTitle } from "ui/card";
import { BarList } from "ui/progress-bar-list";
import { Skeleton } from "ui/skeleton";

const { data: dashboard } = await Astro.callAction(actions.dashboard, {});

// const schedule: Schedule = await (await fetchSchedule(Astro)).json();
const { user } = Astro.locals;

const torfl =
  dashboard?.inReviewByTorflCount.map((v) => ({
    id: v.torfl,
    name: v.torfl,
    total: v.total,
    value: v.count,
  })) ?? [];
---

<Layout title="Dashboard" transition:persist>
  <section
    class="grid grid-flow-row-dense grid-cols-1 lg:grid-cols-3 md:grid-cols-2 md:gap-y-10 gap-5"
  >
    <DashboardCell
      title="Learn"
      description="Get the new lesson"
      color="bg-primary"
      count={1}
      href="/sr/lesson"
    />
    <DashboardCell
      title="Reviews"
      description="Review the lessons you've learned"
      color="bg-secondary"
      count={dashboard?.reviewsCount ?? 0}
      href="/sr/review"
    />

    <Card class="col-span-1">
      <CardHeader>
        <CardTitle>Streak</CardTitle>
      </CardHeader>
      <CardContent>
        <p>Keep it up, {user?.email}</p>
        <p>
          You have studied for <span class="text-secondary"
            >{dashboard?.streak}</span
          > days in a row!
        </p>
      </CardContent>
    </Card>

    <Card class="col-span-1 xl:col-span-2">
      <CardHeader>
        <CardTitle>TORFL test level grammar coverage</CardTitle>
      </CardHeader>
      <CardContent>
        <p
          class="mt-4 flex items-center justify-between text-foregrounds-secondary"
        >
          <span>Level</span>
          <span>Studied</span>
        </p>
        <BarList width="progress" sortOrder="none" data={torfl} class="mt-2" />
      </CardContent>
    </Card>

    <Card class="col-span-1 row-span-2">
      <CardHeader>
        <CardTitle>Review forecast</CardTitle>
      </CardHeader>
      <CardContent>
        <p>
          Soon in your review queue will appear grammar points ready for review:
        </p>
        <WeekSchedule
          schedule={dashboard?.schedule ?? []}
          client:only="solid-js"
        >
          <div slot="fallback">
            <Skeleton height={260} radius={10} />
          </div>
        </WeekSchedule>
      </CardContent>
    </Card>
  </section>
</Layout>
