---
import { LoginForm as LoginForm } from "@components/solid/LoginForm";
import Layout from "@layouts/Layout.astro";
import type { ErrorInferenceObject } from "astro/actions/runtime/utils.js";
import type { SafeResult } from "astro:actions";
import { actions } from "astro:actions";

const hasOkResult = <E extends ErrorInferenceObject, D>(
  result?: SafeResult<E, D>,
) => result && !result.error;

const resultSignUp = Astro.getActionResult(actions.signup);
const resultSignIn = Astro.getActionResult(actions.signin);
if (Astro.locals.user || hasOkResult(resultSignUp) || hasOkResult(resultSignIn))
  return Astro.redirect("/dashboard");
---

<Layout title="Login">
  <div class="grid gap-6 mx-auto my-auto w-fit py-16">
    <LoginForm result={resultSignUp || resultSignIn} client:load />
  </div>
</Layout>
