---
import { actions } from "astro:actions";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import { GrammarPointsTable } from "~/features/grammar-point/GrammarPointsTable";

const { data: grammarPointsList, error } = await Astro.callAction(
  actions.getAllGrammarPoints,
  undefined,
);

if (!grammarPointsList) {
  throw new Error(`Failed to load grammar points, ${error}`);
}

const createGrammarPointResult = Astro.getActionResult(
  actions.createGrammarPoint,
);
---

<AdminLayout
  title="Grammar Points"
  action={{ label: "Create", href: "./grammar/create" }}
  description="See all grammar points and create new ones."
>
  {
    createGrammarPointResult && !createGrammarPointResult.error && (
      <div class="rounded border border-green-200 bg-green-50 p-3 text-green-800 text-sm">
        Grammar point saved successfully!
      </div>
    )
  }

  <GrammarPointsTable
    grammarPoints={grammarPointsList}
    error={createGrammarPointResult?.error?.message}
    client:load
  />
</AdminLayout>

<script></script>
