---
import HeaderNav from "./HeaderNav.astro";

import { actions } from "astro:actions";
import { GET as getReiewCount } from "src/pages/api/sr/review/count";
import Logo from "./Logo.astro";

const user = Astro.locals.user;
const reviewCount =
  user && ((await (await getReiewCount(Astro)).json()) as number);
---

<header class="bg-primary p-4 sticky top-0 z-50">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-3xl font-bold text-white" href="/"><Logo /></a>
    <div class="flex justify-between gap-5">
      <HeaderNav disabled={!user} text="Learn" link="/sr/lesson" />
      <HeaderNav
        disabled={!user}
        text="Review"
        link="/sr/review"
        badgeContent={reviewCount ?? ""}
      />
      <HeaderNav text="Grammar" link="/grammar/" />
      <HeaderNav text="Help" link="/help" />
      <!-- <HeaderNav text="Drill" link="/drill/" /> -->
      {
        user && (
          <form method="POST" action={actions.logout}>
            <button
              type="submit"
              class="flex align-center gap-1 text-primary-foreground text-xl font-bold px-4 py-2 hover:shadow-md hover:bg-secondary/20"
            >
              Logout
            </button>
          </form>
        )
      }
    </div>
  </div>
</header>
