---
import { NavButton } from "./solid/NavButton";

export interface Props {
  text: string;
  link: string;
  badgeContent?: string | number;
  disabled?: boolean;
}
const { text, link, badgeContent, disabled } = Astro.props;
---

<a href={link}>
  <NavButton
    client:load
    disabled={disabled}
    text={text}
    badgeContent={badgeContent}
  />
</a>
