---
import { GrammarPoint } from "@components/solid/grammar-point/GrammarPoint";
import Layout from "../../../layouts/Layout.astro";
import { fetchGrammarPoint } from "@grammar-sdk";

const { id } = Astro.params;

const grammarPoint = id ? await fetchGrammarPoint(id) : undefined;
// const drills: Drill[] = await (await fetchDrills(Astro)).json();
// const drill = drills.find((r) => r.grammarPointId === id);
---

<Layout title="Grammar">
  {
    grammarPoint && (
      <>
        <GrammarPoint client:visible {...grammarPoint} />
        <section class="flex flex-col justify-between items-center mt-5">
          <a
            class="bg-primary  text-white px-6 py-3 rounded-full shadow-md text-center"
            href={`/grammar/${id}/practice`}
          >
            Practice
          </a>
          <div class="mt-5">
            {/*
              TODO: add later
              <DrillButton
              client:idle
              grammarPoint={grammarPoint}
              drill={drill}
            />
            */}
          </div>
        </section>
      </>
    )
  }
</Layout>
