---
import { GrammarPoint } from "@components/solid/grammar-point/GrammarPoint";
import { fetchGrammarPoint } from "grammar-sdk";
import { Anchor } from "ui/anchor";
import Layout from "../../../layouts/Layout.astro";

const { id } = Astro.params;
const backTo = Astro.url.searchParams.get("backTo") ?? undefined;

const grammarPoint = id ? await fetchGrammarPoint(id) : undefined;
---

<Layout title="Grammar">
  {
    grammarPoint && (
      <>
        <GrammarPoint backTo={backTo} client:visible {...grammarPoint} />
        <section class="flex flex-col justify-between items-center mt-5">
          <Anchor
            class="bg-primary  text-white px-6 py-3 rounded-full shadow-md text-center"
            href={`/grammar/${id}/practice`}
          >
            Practice
          </Anchor>
        </section>
      </>
    )
  }
</Layout>
