---
import LoadingIndicator from "astro-loading-indicator/component";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

import { Sidebar } from "@components/solid/Sidebar/Sidebar";
import { Toaster } from "solid-toast";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  topPadding?: boolean;
  fluid?: boolean;
}

const { title, fluid } = Astro.props;
const loggedIn = !!Astro.locals.user;
const topPadding = Astro.props.topPadding ?? true;
---

<!doctype html>
<html lang="en" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="apple-mobile-web-app-title" content="gRUmma" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header transition:persist />
    <LoadingIndicator color="#8A5D33" />
    <Sidebar loggedIn={loggedIn} client:idle />

    <main
      class={`${!fluid && "container"} mx-auto ${topPadding && "pt-8"} pb-8`}
    >
      <slot />
    </main>
    <Toaster position="bottom-right" client:only="solid-js" />
  </body>
</html>
<!-- HACK: to do a client side redirect caused by Transitions   -->
<script>
  class Navigator extends HTMLElement {
    connectedCallback() {
      // Read the message from the data attribute.
      const message = this.dataset.navigate;
      if (message) window.location.href = message;
    }
  }

  customElements.define("grumma-navigator", Navigator);
</script>
